.form {
  input {
    border: none;
    outline: none;
  }

  .section {
    border: 1px var(--destructive_text_color) solid;
  }

  .btn_submit {
    cursor: pointer;
    background-color: var(--button_color);
    color: var(--button_text_color);
    border-radius: var(--border_radius);
    width: 100%;
    padding: 10px 0;
  }
}
