.progress_section {
  display: flex;
  flex-direction: column;

  .progress_block {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .progress {
    width: 100%;
    margin: 0 5px;
  }
}

// BookCard

