.fetch_btn_block {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  .fetch_btn,
  .counter_btn {
    cursor: pointer;
    background-color: var(--button_color);
    color: var(--button_text_color);
    border-radius: var(--border_radius);
    width: 100%;
    padding: 10px 0;
  }

  .counter_btn {
    width: auto;
    padding: 10px 20px;
  }
}
