.fetch_btn_block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

  .fetch_btn {
    background-color: var(--button_color);
    color: var(--button_text_color);
    border-radius: var(--border_radius);
    width: 100%;
    padding: 10px 0;
  }
}

.counter_btn_block {
  display: flex;
  justify-content: space-between;

  .counter_btn {
    background-color: var(--button_color);
    color: var(--button_text_color);
    border-radius: var(--border_radius);
    padding: 10px 20px;
  }
}
