@use "./global.scss";
@use "./reset.scss";

.main {
  padding: 20px;
  padding-bottom: 60px;
}

section {
  padding: 20px;
  border-radius: var(--border_radius);
  background-color: var(--section_bg_color);
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}
